/*------------------------------------------------------------------ 
Project:      Inkscape Translation Statistics   (statistics)
--------------------------------------------------------------------*/  
.po-stats table {
  margin: 20px;
}

.po-stats thead {
  font-weight: bold;
}

.po-stats td {
  padding-right: 20px;
}

